*.log
*.log.*
*.iws
*.ipr
*.iml
*.class
*.jar
*.MD5
*.*~
.externalToolBuilders
.classpath
.project
.settings
libraries
classes
lib
target
test-output
profiles.xml
version.properties
build.properties
runtime-dev.properties
override-application.properties

# Package Files #
*.jar
*.war
*.ear
